<main class="main-wrap">            
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Categories</h2>
                <p>Add, edit or delete a category</p>
            </div>
            <div>
                <input type="text" placeholder="Search Categories" class="form-control bg-white" />
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <form>
                            <div class="mb-4">
                                <label for="categoryName" class="form-label">Name</label>
                                <input type="text" placeholder="Type here" class="form-control" id="categoryName" />
                                <p id="catAlert" class="text-danger"></p>
                            </div>
                            {{!-- <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control"></textarea>
                            </div> --}}
                            <div class="d-grid d-flex justify-content-center ">
                                <button type="button" id="addCatButton" class="btn btn-primary text-center ">Create category</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="text-center ">
                                        {{!-- <th class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </th> --}}
                                        <th>Sl.No</th>
                                        <th>Name</th>
                                        <th>Created</th>
                                        {{!-- <th>Description</th>
                                        <th>Slug</th>
                                        <th>Order</th> --}}
                                        <th >Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each category}}
                                    <tr class="text-center">
                                        {{!-- <td class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </td> --}}
                                        <td >{{inc @index}}</td>


                                        <td ><input id="category{{this._id}}" disabled class="d-block border-0 category " type="text"  value="{{this.category}}"></td>
                                        {{!-- <td id="editcategory" class="d-none"><b><input class="border-0 " type="text" value="{{this.category}}"></b></td> --}}


                                        <td>{{this.date}}</td>
                                        {{!-- <td>Cake & Milk</td>
                                        <td>/cake</td>
                                        <td>1</td> --}}
                                        <td class="text-end">
                                            <div>
                                                {{!-- <a href="edit-caegory/{{this._id}}" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> Edit </a> --}}


                                                <a id="editbutton" data-id="{{this._id}}" class="btn btn-sm font-sm rounded btn-brand d-inline-block editbutton "> <i class="material-icons md-edit"></i> Edit </a>
                                                <a id="savebutton" data-id="{{this._id}}" class="btn btn-sm font-sm rounded btn-brand d-none savebutton "> <i class="material-icons md-save"></i> Save </a>



                                                <a onclick=" return confirm('Are you sure to delete {{this.category}}')" href="delete-category/{{this._id}}"  class="btn btn-sm font-sm rounded btn-danger"><i class="material-icons md-delete_forever"></i>Delete</a>
                                            </div>
                                            <!-- dropdown //end -->               
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- .col// -->
                </div>
                <!-- .row // -->
            </div>
            <!-- card body .// -->
        </div>
        <!-- card .// -->
    </section>    
</main>


<script>
    const catAlert = document.getElementById("catAlert");
    const addCatButton = document.getElementById("addCatButton");
    const editButton = document.querySelectorAll(".editbutton");
    const saveButton = document.querySelectorAll(".savebutton");
    const categoryElem = document.querySelectorAll(".category");
    const block = "d-inline-block"
    const none = "d-none"

    function addCategory() {
        console.log("entered fetch")
    catAlert.innerText = "";
    const category = document.getElementById("categoryName").value;

    if(category.trim()==""){
        catAlert.className="text-danger text-center"
        catAlert.innerText="Category name can't be empty";
        return
    }

    fetch("/api/v1/admin/category",{
        method: "POST",
        headers: {
            "content-type" : "application/json"
        },
        body: JSON.stringify({
            category
        })
    })
    .then( (response)=>{
        if(!response.ok){
            catAlert.innerText="Category not added. Please try again"
        }
        catAlert.className="text-success text-center "
        catAlert.innerText = "Category added successfully"
        location.reload();
    })
    }
    
    addCatButton.addEventListener("click", addCategory);

    /*let save = [];
    saveButton.forEach((element)=>{
        save.push(element);
    })
    console.log("thid is save",save);*/

    editButton.forEach((element,index)=>{
        element.addEventListener("click", ()=>{        
            console.log("index",index)
            categoryElem[index].disabled = !categoryElem[index].disabled;
            element.classList.replace(block,none);
            saveButton[index].classList.replace(none,block);
        })
    });

    saveButton.forEach((element,index)=>{
        element.addEventListener("click", ()=>{
            let id = element.getAttribute("data-id");
            let value = document.getElementById(`category${id}`).value
            console.log(value);
            
            fetch("/api/v1/admin/category", {
                method: "PATCH",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify({
                   category : value,
                   id
                })
            })
            .then(response => response.json())
            .then((data) => {
                if (data) {
                    //showNotification("Details saved");
                    categoryElem[index].disabled = !categoryElem[index].disabled;
                    element.classList.replace(block,none);
                    editButton[index].classList.replace(none,block);

                    console.log(data);
                }
            });
        })
    })

</script>