<head>
    <style>
    /* Notification styles */
    .notification {
      display: none;
      position: fixed;
      top: 10px;
      right: 40%;
      background-color: #4CAF50;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    </style>
</head>

<main class="main-wrap">            
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Coupons</h2>
                <p>Add, edit or delete a Coupon</p>
            </div>
            <div>
                <button class="btn btn-primary" id="addCouponForm" >Add Coupon</button>
            </div>
        </div>
        <div class="card" id="couponForm" hidden>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="mb-4 col-md-6">
                            <label for="couponName" class="form-label">Name</label>
                            <input type="text" placeholder="Type here" class="form-control" id="couponName" />
                            <p id="nameAlert" class="text-danger"></p>
                        </div>
                        <div class="mb-4 col-md-6">
                            <label for="CouponCode" class="form-label">Coupon Code</label>
                            <input type="text" placeholder="Type here" class="form-control" id="CouponCode" />
                            <p id="couponAlert" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Description</label>
                        <textarea id="description" placeholder="Type here" class="form-control"></textarea>
                    </div>
                    <div class="row">
                        <div class="mb-4 col-md-6">
                            <label for="userLimit" class="form-label">User limit (Min. 20)</label>
                            <input type="number" placeholder="Type here" class="form-control" id="userLimit" />
                            <p id="userLimitAlert" class="text-danger"></p>
                        </div>
                        <div class="mb-4 col-md-6">
                            <label for="expiryDate" class="form-label">Expiry Date</label>
                            <input type="date" placeholder="Type here" class="form-control" id="expiryDate" />
                            <p id="expiryAlert" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-4 col-md-6">
                            <label for="discount" class="form-label">Discount</label>
                            <input type="number" placeholder="Type here" class="form-control" id="discount" />
                            <p id="discountAlert" class="text-danger"></p>
                        </div>
                        <div class="mb-4 col-md-6">
                            <label for="minAmount" class="form-label">Minimum Amount</label>
                            <input type="number" placeholder="Type here" class="form-control" id="minAmount" />
                            <p id="minAlert" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="d-grid d-flex justify-content-center ">
                        <button type="button" id="addCouponButton" class="btn btn-primary text-center ">Create Coupon</button>
                    </div>
                </form>
            </div>
        </div>

        
        
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="text-center ">
                                        {{!-- <th class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </th> --}}
                                        <th>Sl.No</th>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Discount</th>
                                        <th>Expiry</th>
                                        <th>User Limit</th>
                                        <th>Minimum Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each coupons}}
                                    <tr class="text-center">
                                        <td >{{inc @index}}</td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.code}}</td>
                                        <td>{{this.description}}</td>
                                        <td>{{this.discount}}</td>
                                        <td>{{this.expiryDate}}</td>
                                        <td>{{this.userlimit}}</td>
                                        <td>{{this.minamount}}</td>
                                        <td class="text-end">
                                            <div>
                                                <a id="editbutton" href="/api/v1/admin/edit-coupon/{{this._id}}" data-id="{{this._id}}" class="btn btn-sm font-sm rounded btn-brand d-inline-block editbutton "> <i class="material-icons md-edit"></i> Edit </a>
                                                <a onclick=" return confirm('Are you sure to delete {{this.name}}')" href="delete-coupon/{{this._id}}"  class="btn btn-sm font-sm rounded btn-danger"><i class="material-icons md-delete_forever"></i>Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- .col// -->
                </div>
                <!-- .row // -->
            </div>
            <!-- card body .// -->
        </div>
        <!-- card .// -->
        <div id="notification" class="notification"></div>
    </section>    
</main>


<script>
    const nameAlert = document.getElementById("nameAlert");
    const addCouponButton = document.getElementById("addCouponButton");
    const editButton = document.querySelectorAll(".editbutton");
    const saveButton = document.querySelectorAll(".savebutton");
    const block = "d-inline-block"
    const none = "d-none"

    function showNotification(message) {
        const notificationElement = document.getElementById('notification');
        notificationElement.textContent = message;
        notificationElement.style.display = 'block';

        // Hide the notification after 5 seconds
        setTimeout(() => {
        notificationElement.style.display = 'none';
        }, 2000);
    }

    function addCoupon() {
        console.log("entered fetch")
        nameAlert.innerText = "";
        const name = document.getElementById("couponName").value;
        const code = document.getElementById("CouponCode").value;
        const description = document.getElementById("description").value;
        const userlimit = document.getElementById("userLimit").value;
        const expiryDate = document.getElementById("expiryDate").value;
        const discount = document.getElementById("discount").value;
        const minamount = document.getElementById("minAmount").value;


        if(name.trim()==""){
            nameAlert.className="text-danger text-center"
            nameAlert.innerText="Coupon name can't be empty";
            return
        }

        fetch("/api/v1/admin/coupons",{
            method: "POST",
            headers: {
                "content-type" : "application/json"
            },
            body: JSON.stringify({
                name,
                code,
                description,
                userlimit,
                expiryDate,
                discount,
                minamount
            })
        })
        .then( (response)=>{
            console.log("response",response)
            if(!response.ok){
                nameAlert.innerText="Coupon not added. Something wrong with the credentials. Please try again"
                return
            }
            nameAlert.className = "text-success text-center"
            nameAlert.innerText = "Coupon added successfully"
            location.reload();
        })       
    }
    
    addCouponButton.addEventListener("click", addCoupon);
    
    const addCouponForm = document.getElementById('addCouponForm');
    addCouponForm.addEventListener('click', (event)=>{
        event.preventDefault();
        const couponForm = document.getElementById("couponForm");
        if (couponForm.hidden === true) {
            couponForm.hidden = false;
            addCouponForm.innerText = "Cancel";
        } else {
            couponForm.hidden = true;
            addCouponForm.innerText = "Add Coupon";
        }
    });
    
    /*editButton.forEach((element,index)=>{
        element.addEventListener("click", ()=>{        
            console.log("index",index)
            categoryElem[index].disabled = !categoryElem[index].disabled;
            element.classList.replace(block,none);
            saveButton[index].classList.replace(none,block);
        })
    });

    saveButton.forEach((element,index)=>{
        element.addEventListener("click", ()=>{
            let id = element.getAttribute("data-id");
            let value = document.getElementById(`category${id}`).value
            console.log(value);
            
            fetch("/api/v1/admin/category", {
                method: "PATCH",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify({
                   category : value,
                   id
                })
            })
            .then(response => response.json())
            .then((data) => {
                if (data.success) {
                    //showNotification("Details saved");
                    categoryElem[index].disabled = !categoryElem[index].disabled;
                    element.classList.replace(block,none);
                    editButton[index].classList.replace(none,block);
                    console.log(data);
                    return
                }
                showNotification("Category already exists.");                
                setTimeout(()=>{
                location.reload();      
                },500);
            });
        })
    })*/

</script>