<body>
    <div class="screen-overlay"></div>        
    <main class="main-wrap">            
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard</h2>
                    <p>Whole data about your business here</p>
                </div>
                <div>
                    <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>₹ {{sales}}</span>
                                <span class="text-sm"> Shipping fees are not included </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <a href="/api/v1/admin/orders"></a>
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6>
                                <span>{{orders}}</span>
                                {{!-- <span class="text-sm"> Excluding orders in transit </span> --}}
                                <span class="text-sm"> Total orders </span>
                            </div>
                        </article>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="/api/v1/admin/products">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6>
                                <span>{{products}}</span>
                                <span class="text-sm"> In {{category}} Categories </span>
                            </div>
                        </article>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Earning</h6>
                                <span>₹ {{salesData}}</span>
                                <span class="text-sm"> Based in your local time. </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            
            {{!-- Graph --}}
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <header class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-12 me-auto mb-md-0 mb-3">
                                        <div class="d-flex ">
                                            <label for="categoryName" class="form-label me-1 ">Enter year</label>
                                            <input type="text" value="2024" placeholder="2024" class="form-control mx-1 " id="time" />
                                            <p id="catAlert" class="text-danger"></p>
                                            <a href="#" id="yearlyBtn" data-id="yearly" class="btn btn-primary btn-sm rounded mx-1 ">Yearly</a>
                                            <a href="#" id="monthlyBtn" data-id="monthly" class="btn btn-primary btn-sm rounded mx-1 ">Monthly</a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <canvas id="myChart" height="180px"></canvas>
                        </article>
                    </div>


                    {{!-- <div class="row">
                        <div class="col-lg-5">
                            <div class="card mb-4">
                                <article class="card-body">
                                    <h5 class="card-title">New Members</h5>
                                    <div class="new-member-list">
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <div class="d-flex align-items-center">
                                                <img src="/assets/imgs/people/avatar-4.png" alt="" class="avatar" />
                                                <div>
                                                    <h6>Patric Adams</h6>
                                                    <p class="text-muted font-xs">Sanfrancisco</p>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-xs"><i class="material-icons md-add"></i> Add</a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <div class="d-flex align-items-center">
                                                <img src="/assets/imgs/people/avatar-2.png" alt="" class="avatar" />
                                                <div>
                                                    <h6>Dilan Specter</h6>
                                                    <p class="text-muted font-xs">Sanfrancisco</p>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-xs"><i class="material-icons md-add"></i> Add</a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <div class="d-flex align-items-center">
                                                <img src="/assets/imgs/people/avatar-3.png" alt="" class="avatar" />
                                                <div>
                                                    <h6>Tomas Baker</h6>
                                                    <p class="text-muted font-xs">Sanfrancisco</p>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-xs"><i class="material-icons md-add"></i> Add</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="card mb-4">
                                <article class="card-body">
                                    <h5 class="card-title">Recent activities</h5>
                                    <ul class="verti-timeline list-unstyled font-sm">
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>Today</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>Lorem ipsum dolor sit amet consectetur</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list active">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl animation-fade-right"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>17 May</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>Debitis nesciunt voluptatum dicta reprehenderit</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>13 May</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>Accusamus voluptatibus voluptas.</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>05 April</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>At vero eos et accusamus et iusto odio dignissi</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>26 Mar</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>Responded to need “Volunteer Activities</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div> 
                </div> --}}

                {{!-- <div class="col-xl-4 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Revenue Base on Area</h5>
                            <canvas id="myChart2" height="217"></canvas>
                        </article>
                    </div>
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Marketing Chanel</h5>
                            <span class="text-muted font-xs">Facebook</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 15%">15%</div>
                            </div>
                            <span class="text-muted font-xs">Instagram</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 65%">65%</div>
                            </div>
                            <span class="text-muted font-xs">Google</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 51%">51%</div>
                            </div>
                            <span class="text-muted font-xs">Twitter</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 80%">80%</div>
                            </div>
                            <span class="text-muted font-xs">Other</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 80%">80%</div>
                            </div>
                        </article>
                    </div>
                </div>
            </div> --}}

            
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Sales Report</h2>
                    <p></p>
                </div>
                <div class="d-flex justify-content-center align-content-center  ">
                    <div class="custom_select me-2 " >
                        <select id="reportSelect" style="background-color: grey" class="form-select select-nice">
                            <option value="year" selected>Yearly</option>
                            <option value="month">Monthly</option>
                            <option value="week">Weekly</option>
                        </select>
                    </div>
                    <button id="reportButton" class="btn btn-primary btn-sm">Report</button>
                </div>
            </div>

            <div id="report" class="card mb-4 d-none ">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control" />
                        </div>
                    </div>
                </header>
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-center ">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>No. of orders</th>
                                    <th scope="col">Total Coupons used</th>
                                    <th scope="col">Total Discount</th>
                                    <th scope="col">Total Revenue</th>
                                    {{!-- <th scope="col" class="text-end">Action</th> --}}
                                </tr>
                            </thead>
                            <tbody class="report-table text-center">
                                <tr>
                                </tr>                        
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="1" class="text-center"><h4>Grand Total</h4></td>
                                    <td id="totalOrders"><b></b></td>
                                    <td id="totalCoupons"><b></b></td>
                                    <td id="totalDiscount"><b></b></td>
                                    <td id="totalRevenue"><b></b></td>                                    
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- table-responsive //end -->
                </div>
                <!-- card-body end// -->
            </div>

            {{!-- <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div> --}}

            

        </section>
        <!-- content-main end// -->
    </main>        
</body>

<script>
    //sales report 
    const reportButton = document.getElementById('reportButton');
    reportButton.addEventListener('click', () => {
    console.log("report button clicked");
    const filter = document.getElementById('reportSelect').value;
    fetch('/api/v1/admin/filtersalesreport',{
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            filter
        })
    })
    .then(res => res.json())
    .then(data => {
        console.log("This is the data from api", data);
        // Reference to the tbody element
        const tbody = document.querySelector(".report-table");
        tbody.innerHTML = "";

        // Loop through the data and create table rows
        let slNumber = 0;
        let totalAmount = 0;
        let totalCouponDiscount = 0;
        let couponCount = 0;
        let totalOrders = 0;
        data.data.forEach(order => {
            // Create a new table row
            const row = document.createElement("tr");

            // Populate table cells with data
            const slNo = document.createElement("td");
            slNo.textContent = ++slNumber;
            row.appendChild(slNo);

            const countCell = document.createElement("td");
            countCell.textContent = order.count;
            row.appendChild(countCell);
            totalOrders = totalOrders + order.count;

            const couponCountCell = document.createElement("td");
            couponCountCell.textContent = order.couponDiscountCount;
            row.appendChild(couponCountCell);
            couponCount = couponCount + order.couponDiscountCount;

            const totalCouponDiscountCell = document.createElement("td");
            totalCouponDiscountCell.textContent = order.totalCouponDiscount;
            row.appendChild(totalCouponDiscountCell);
            totalCouponDiscount = totalCouponDiscount + order.totalCouponDiscount;

            const totalAmountCell = document.createElement("td");
            totalAmountCell.textContent = order.totalAmount;
            row.appendChild(totalAmountCell);
            totalAmount = totalAmount + order.totalAmount;

            // Append the row to the tbody
            tbody.appendChild(row);
        });
        document.getElementById('totalOrders').textContent = totalOrders;
        document.getElementById('totalCoupons').textContent = couponCount;
        document.getElementById('totalDiscount').textContent = totalCouponDiscount;
        document.getElementById('totalRevenue').textContent = totalAmount;
    });
    document.getElementById('report').classList.remove('d-none');
});

</script>
