<body>
    <div class="screen-overlay"></div>
    <main class="main-wrap">
        <section class="content-main">
            <div class="content-header">
            <div>
                <h2 class="content-title card-title">Offers</h2>
                <p>Add, edit or delete a Offer</p>
            </div>
            <div>
                <a href="/api/v1/admin/offers/add-offer" class="btn btn-primary" id="addCouponForm" >Add Offer</a>
            </div>
        </div>
        {{#each offers}}
            <div class="card mb-4">
                <div class="card-header bg-brand-2" style="height: 150px"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl col-lg flex-grow-0" style="flex-basis: 230px">
                            <div class="img-thumbnail shadow w-100 bg-white position-relative text-center" style="height: 190px; width: 200px; margin-top: -120px">
                                <img src="{{this.banner}}" class="center-xy img-fluid" alt="Logo Brand" />
                            </div>
                        </div>
                        <!--  col.// -->
                        <div class="col-xl col-lg">
                            <h3>{{this.name}}</h3>
                            <p>{{this.description}}</p>
                        </div>
                        <!--  col.// -->
                        <div class="col-xl-4 text-md-end">
                            {{!-- <select class="form-select w-auto d-inline-block">
                                <option>Actions</option>
                                <option>Delete</option>
                                <option>Edit</option>
                            </select> --}}
                            <a href="#" class="btn btn-primary"> Edit </a>
                            {{!-- <a onclick=" return confirm('Are you sure to delete {{this.name}}')" id="delete" href="/api/v1/admin/offers/delete-offer/{{this._id}}" class="btn btn-danger">Delete</a> --}}
                            <a href="#" class="btn btn-danger deleteButton" data-id="{{this._id}}"><i class="material-icons md-delete_forever"></i>Delete</a>
                        </div>
                        <!--  col.// -->
                    </div>
                    <!-- card-body.// -->
                    <hr class="my-4" />
                    <div class="row g-4">
                        <div class="col-md-12 col-lg-4 col-xl-2">
                            <article class="box">
                                <p class="mb-0 text-muted">Discount percentage:</p>
                                <h5 class="text-success">{{this.discount}}</h5>
                                {{!-- <p class="mb-0 text-muted">Revenue:</p>
                                <h5 class="text-success mb-0">$2380</h5> --}}
                            </article>
                        </div>
                        <!--  col.// -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <h6>Category</h6>
                            <p>
                               {{this.category.category}}
                            </p>
                        </div>
                        <!--  col.// -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <h6>End Date</h6>
                            <p>
                                {{this.expirydate}}
                            </p>
                        </div>
                        <!--  col.// -->
                        {{!-- <div class="col-sm-6 col-xl-4 text-xl-end">
                            <map class="mapbox position-relative d-inline-block">
                                <img src="assets/imgs/misc/map.jpg" class="rounded2" height="120" alt="map" />
                                <span class="map-pin" style="top: 50px; left: 100px"></span>
                                <button class="btn btn-sm btn-brand position-absolute bottom-0 end-0 mb-15 mr-15 font-xs">Large</button>
                            </map>
                        </div> --}}
                        <!--  col.// -->
                    </div>
                    <!--  row.// -->
                </div>
                <!--  card-body.// -->
            </div>
        {{/each}}
    </section>
</body>
<script>
    const deleteButton = document.querySelectorAll(".deleteButton");
    deleteButton.forEach((element)=>{
        element.addEventListener("click", (event)=>{
            const _id = event.target.getAttribute("data-id");
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete"
            }).then((result) => {
                if (result.isConfirmed) {     
                    Swal.fire({
                    title: "Deleted!",
                    text: "Your file has been deleted.",
                    icon: "success"                
                    });
                    return location.href = `/api/v1/admin/offers/delete-offer/${_id}`;   
                }   
            });
        })
    })
</script>

