    <body>
        <main class="main-wrap">            
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Products List</h2>
                        <p>These are the list of all products.</p>
                    </div>
                    <div>
                        {{!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                        <a href="#" class="btn btn-light rounded font-md">Import</a> --}}
                        <a href="/api/v1/admin/products/addproduct" class="btn btn-primary btn-sm rounded">Add Product</a>
                        <a href="/api/v1/admin/products/products-varient" class="btn btn-primary btn-sm rounded">Add Product Varient</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                                <div class="form-check ms-2">
                                    <input class="form-check-input" type="checkbox" value="" />
                                </div>
                            </div>
                            <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                <select id="category" class="form-select ">
                                        <option selected>All category</option>
                                    {{#each category}}
                                        <option>{{this.category}}</option>
                                    {{/each}}                                                
                                </select>
                            </div>
                            <div class="col-md-2 col-6">
                                <input type="date" value="02.05.2021" class="form-control" />
                            </div>
                            <div class="col-md-2 col-6">
                                <select class="form-select">
                                    <option selected>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div id="productlist" class="card-body">
                        {{#each products}}
                        <article class="itemlist">
                        
                            <div class="row align-items-center">
                                <div class="col col-check flex-grow-0">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-4 col-8 flex-grow-1 col-name">
                                    <a class="itemside" href="#">
                                        <div class="left">
                                            {{!-- <img src="assets/imgs/items/1.jpg" class="img-sm img-thumbnail" alt="Item" /> --}}
                                        </div>
                                        <div class="info">
                                            <h6 class="mb-0">{{this.name}}</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-price text-center "><span>{{this.category.category}}</span></div>
                                <div class="col-lg-2 col-sm-2 col-4 col-status text-center ">
                                    {{#if this.islisted}}
                                    <span class="badge rounded-pill alert-success">Listed</span>
                                    {{else}}
                                    <span class="badge rounded-pill alert-danger">Unlisted</span>
                                    {{/if}}
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-date text-center ">
                                    <span>{{this.date}}</span>
                                </div>
                                <div class="col-lg-3 col-sm-2 col-4 col-action text-end">
                                    <a href="/api/v1/admin/products/productvarientdetails/{{this._id}}" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> details </a>
                                    <a href="/api/v1/admin/products/edit-product/{{this._id}}" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> Edit </a>
                                    {{!-- <a onclick=" return confirm('Are you sure to delete {{this.name}}')" href="delete-product/{{this._id}}"  class="btn btn-sm font-sm rounded btn-danger"><i class="material-icons md-delete_forever"></i>Delete</a> --}}
                                    {{#if this.islisted}}
                                        <button data-id="{{this._id}}" class="btn btn-sm font-sm rounded btn-danger unlistButton"> Unlist</button>
                                    {{else}}
                                        <button data-id="{{this._id}}" class="btn btn-sm font-sm rounded btn-brand listButton"> List </button>
                                    {{/if}}
                                </div>
                            </div>
                            <!-- row .// -->
                        
                        </article>
                        {{/each}} 
                                  
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->

                {{!-- Best sellers List --}}
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Best Sellers</h2>
                        <p>These are the list of best selling products.</p>
                    </div>
                </div>
                <div class="card mb-4">                    
                    <div id="productlist" class="card-body">
                        {{#each bestSellers}}
                        <article class="itemlist">                        
                            <div class="row align-items-center">
                               
                                <div class="col-lg-2 col-sm-4 col-8 flex-grow-1 col-name">
                                    <a class="itemside" href="#">
                                        <div class="left">
                                            <img src="{{this.images.[0]}}" class="img-sm img-thumbnail" alt="Item" />
                                        </div>
                                        <div class="info">
                                            <h6 class="mb-0">{{this.name.name}}</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-price text-center "><span>{{this.name.category.category}}</span></div>                                
                                <div class="col-lg-2 col-sm-2 col-4 col-date text-center ">
                                    <span>{{this.color.color}}</span>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-date text-center ">
                                    <span>{{this.price}}</span>
                                </div>
                                 <div class="col-lg-2 col-sm-2 col-4 col-date text-center ">
                                    <span>Sold : {{this.sold_count}}</span>
                                </div>
                            </div>
                            <!-- row .// -->                        
                        </article>
                        {{/each}}                                   
                    </div>
                    <!-- card-body end// -->
                </div>


                <div class="pagination-area mt-30 mb-50 d-flex  justify-content-center ">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item"><a class="page-link d-flex justify-content-center align-items-center" href="#"><i class="material-icons md-chevron_left"></i></a>
                            <li class="page-item active"><a class="page-link" href="/api/v1/admin/products">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item"><a class="page-link d-flex justify-content-center align-items-center" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->                     
        </main>        
    </body>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        // Attach click event listener to the parent element of the user list
        document.getElementById('productlist').addEventListener('click', function (event) {
            const target = event.target;

            console.log("This is the taget :", target)
            // Check if the clicked element is a button with class 'blockButton' or 'unblockButton'
            if (target.tagName === 'BUTTON' && (target.classList.contains('listButton') || target.classList.contains('unlistButton'))) {
                // Get the user ID associated with the clicked button
                const productId = target.dataset.id;

                console.log("This is prodid", productId)

                // Perform the block/unblock action
                listUnlistProduct(productId, target);
            }
        });
    });

    // Function to block/unblock a user
    function listUnlistProduct(productId, buttonElement) {
        console.log("You have entered blovkfunctuion")
        // Make a Fetch request to your server to handle the block/unblock action
        fetch(`/api/v1/admin/listunlist/${productId}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                // Include any additional data you need to send to the server
            }),
        })
        .then( res => res.json())
        .then((data) => {
            // Update the button text and style based on the server response
            if (buttonElement.classList.contains('listButton')) {            
                buttonElement.innerText = 'Unlist';
                buttonElement.classList.remove('listButton');
                buttonElement.classList.add('unlistButton');
                buttonElement.classList.remove('btn-brand');
                buttonElement.classList.add('btn-danger');
            } else if (buttonElement.classList.contains('unlistButton')) {
                buttonElement.innerText = ` List `;
                buttonElement.classList.remove('btn-danger');
                buttonElement.classList.remove('unlistButton');
                buttonElement.classList.add('listButton');
                buttonElement.classList.add('btn-brand');
            }
            window.location.reload();
        })
        .catch((error) => {
            console.log(error);
            // Handle errors or show an error message to the user
        });
    }
</script>
