<head>
    <style>
    /* Notification styles */
    .notification {
      display: none;
      position: fixed;
      top: 10px;
      right: 40%;
      background-color: #4CAF50;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    </style>
</head>

<body>
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>New products</h4>
                    </div>
                </div>
                {{!-- <div class="col-lg-8 col-md-8">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".Womens">Women’s</li>
                        <li data-filter=".Mens">Men’s</li>
                        <li data-filter=".Kids">Kid’s</li>
                    </ul>
                </div> --}}
            </div>
            <div class="row property__gallery">
                {{#if products}}
                    {{#each products}}
                    {{#if this.name}}
                    <div class="col-lg-3 col-md-4 col-sm-6 mix {{this.name.category.category}} prodDetailsDiv" data-prodid="{{this._id}}">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{this.images.[0]}}">
                            {{!-- label above the image --}}
                                {{!-- <div class="label new">New</div> --}}
                                {{#if this.offerApplied}}                        
                                    <div class="label sale">Sale</div>
                                {{/if}}
                                {{#if this.isOutofStock}}
                                <div class="label stockout">out of stock</div>
                                {{else}}
                                <ul class="product__hover">                                
                                    <li><a onclick="event.stopPropagation();" href="{{this.images.[0]}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    {{#if this.isWishlisted}}
                                    <li id="wishlist" class="wishlist" data-id="{{this._id}}" ><a href="#" style="background-color: red; color:white"><span class="icon_heart_alt"></span></a></li>
                                    {{else}}
                                    <li id="wishlist" class="wishlist" data-id="{{this._id}}" ><a href="#" ><span class="icon_heart_alt"></span></a></li>
                                    {{/if}}
                                    <li id="addToCart" class="addToCart" data-id="{{this._id}}"><a href="#"><span class="icon_bag_alt"></span></a></li>
                                    {{!-- <li><a href="productdetails/{{this._id}}" class="" ><span class="icon_details" ></span></a></li> --}}
                                </ul>
                                {{/if}}
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">{{this.name.name}}</a></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                {{#if this.offerApplied}}
                                    <div class="product__price">{{this.price}}<span>Rs {{this.originalprice}}</span></div>
                                {{else}}
                                    <div class="product__price">{{this.price}}</div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                {{else}}
                <h4 class="text-center text-danger ">Unfortunately, there are no products right now. We will update the products soon.</h4>
                {{/if}}
            </div>
        </div>
        <div id="notification" class="notification"></div>
    </section>
    <!-- Product Section End -->
</body>

<script>
    const addToCart = document.querySelectorAll(".addToCart");    
    const wishlist = document.getElementById("wishlist");

    function showNotification(message) {
        const notificationElement = document.getElementById('notification');
        notificationElement.textContent = message;
        notificationElement.style.display = 'block';

        // Hide the notification after 5 seconds
        setTimeout(() => {
        notificationElement.style.display = 'none';
        }, 2000);
    }
    
    addToCart.forEach((element)=>{

        element.addEventListener("click",function addCart(event){
            event.preventDefault();
            event.stopPropagation();
            console.log(element);
            const productId = element.getAttribute("data-id");
            console.log(productId);
            fetch("/api/v1/users/cart",{
                method : "POST",
                headers : {
                    "content-type" : "application/json"
                },
                body : JSON.stringify({
                    productId
                })
            }).then( (res)=> {
                if(!res.ok){
                console.log("Something went wrong while fetching");
                showNotification("Item already in Cart")
                return
                }
            return res.json()}
            ).then((data)=> {
                console.log("fetch successfull",data)
                const cartTip = document.getElementById('cart-tip');
                console.log("cartTip",cartTip);
                cartTip.innerHTML = data.data.cartCount;                
                showNotification("Item added to Cart");
            })
               
        });
    });

    //redirecting to prodetails page
    const prodDetailDiv = document.querySelectorAll(".prodDetailsDiv");
    prodDetailDiv.forEach((element)=>{
        element.addEventListener("click", function renderProdDetails(event){
            event.preventDefault();
            console.log(element);
            const prodId = element.getAttribute("data-prodid");
            window.location.href =`/api/v1/products/productdetails/${prodId}`;
        })
    })

    //wishlist
    const wishlistButton = document.querySelectorAll(".wishlist");
    wishlistButton.forEach((element)=>{
        element.addEventListener("click", function addWishlist(event){
            event.preventDefault();
            event.stopPropagation();
            
            const productId = element.getAttribute("data-id");
            console.log("this is productid",productId);
            fetch("/api/v1/users/wishlist",{
                method : "POST",
                headers : {
                    "content-type" : "application/json"
                },
                body : JSON.stringify({
                    productId
                })
            }).then( res=> res.json())
            .then((data)=>{
                if(data.success){
                    console.log("added to wishlist");
                    console.log(event.target.tagName);
                    if(event.target.tagName == 'A'){
                        event.target.style.backgroundColor = "red";
                        event.target.style.color = "white";                        
                    }else if(event.target.tagName == 'SPAN'){
                        console.log("this is span")
                        event.target.parentElement.style.backgroundColor = "red";
                        event.target.parentElement.style.color = "white";                        
                    }
                    const wishlistTip = document.getElementById('wishlist-tip');
                    console.log("wishlisttp",wishlistTip);
                    console.log(data.data.wishlistCount);
                    wishlistTip.innerHTML = data.data.wishlistCount;
                    showNotification("Item added to Wishlist");
                    return
                }
                 console.log("This is the erespomse from wishlist",data);
                 showNotification("Item already in wishlist")
            })
        })
    })

</script>