<head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />      
    <style>
    a{
      text-decoration: none;
      color: black;
    }
    input[type="radio"]:checked + .card {
    border-color: #e5aa3b; /* Change to the desired border color */
    }
    input[type="radio"]:checked + .paymentcard {
    border-color: #e5aa3b; /* Change to the desired border color */
    }
    </style>
</head>

<body> 
    <nav class="navbar navbar-expand-lg "> 
        <div class=" container-fluid">
            <a class="navbar-brand ms-5 " href="#">
            <img src="/images/logo1.PNG" alt="Logo" height="60" class="d-inline-block align-text-top">
            </a>

            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-lg-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/api/v1/users/home">Home</a>
                <a class="nav-link" href="/api/v1/products/listproducts">Shop</a>
                <a class="nav-link" href="/api/v1/products/Mens">Mens</a>
                <a class="nav-link" href="/api/v1/products/Womens">Womens</a>
                <a class="nav-link" href="/api/v1/products/Kids">Kids</a> 
                <a class="nav-link" href="#">Contact</a>         
            </div>
            </div>
            <div class="navbar-nav me-2 ">
            <a class="nav-link" href="/api/v1/users/profile">Profile</a>
            
            </div>
            <ul class="header__right__widget d-flex ">
            <li><span class="icon_search search-switch  "></span></li>
            {{!-- <li><a href="#"><span class="icon_heart_alt  "></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt "></span>
                <div class="tip">2</div>
            </a></li> --}}
            </ul>
        </div>
    </nav>  
    <div class="screen-overlay"></div>        
    <main >            
        <section class="content-main">
            <div class="content-header justify-content-center ">
                <div>
                    <h2 class="content-title card-title">Checkout</h2>                    
                </div>
            </div>
            <div class="card">
                <header style="background-color: #e5aa3b;" class="card-header  text-white">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span> <i class="material-icons md-calendar_today"></i> <b>{{getCurrentDateTime}}</b> </span> <br />                            
                        </div>
                        {{!-- <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <select class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                                <option>Change status</option>
                                <option>Awaiting payment</option>
                                <option>Confirmed</option>
                                <option>Shipped</option>
                                <option>Delivered</option>
                            </select>
                            <a class="btn btn-primary" href="#">Save</a>
                            <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                        </div> --}}
                    </div>
                </header>
                <!-- card-header end// -->
                <div class="card-body"> 
                    <div class="row">  
                        {{#each address}}
                            <label for="address{{@index}}" class="col-4">
                                <input type="radio" id="address{{@index}}" name="selectedAddress" value="{{this._id}}" style="display: none;" checked>
                                <div class="card">
                                    <div class="card-header text-center fw-bolder ">{{this.type}}</div>
                                    <div class="card-body">
                                        <h5 class="card-title">Full Name: <span>{{this.fullname}}</span></h5>
                                        <p class="card-text">Phone: <span>{{this.phone}}</span></p>
                                        <p class="card-text">Street: <span>{{this.street}}</span></p>
                                        <p class="card-text">Locality: <span>{{this.locality}}</span></p>
                                        <p class="card-text">District: <span>{{this.district}}</span></p>
                                        <p class="card-text">State: <span>{{this.state}}</span></p>
                                        <p class="card-text">Pin code: <span>{{this.pincode}}</span></p>
                                    </div>
                                </div>
                            </label>
                        {{/each}}
                    </div> 
                    <hr>
                    <!-- row // -->
                    <div class="row  my-3 justify-content-center ">                        
                        <a id="addAddress" class="btn btn-outline-dark  col-4 justify-content-center " href=""><span>Add new address</span></a>
                    </div>
        {{!-- add address form --}}
                    <address id="addressForm" hidden>
                        <form onsubmit="return validate()" action="/api/v1/users/fetchaddaddress" method="post">            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6>1. General info</h6>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="mb-4">
                                                        <label class="form-label">Full Name</label>
                                                        <input name="fullName" id="Fullname" type="text" placeholder="Type here" class="form-control" required>
                                                        <p id="fullnamealert" class="text-danger "></p>
                                                    </div>
                                                    <div class="mb-4">
                                                        <label class="form-label">Phone</label>
                                                        <input name="phone" id="Phone" type="number" placeholder="Type here" class="form-control" required>
                                                        <p id="phonealert" class="text-danger "></p>
                                                    </div>  
                                                    <div class="mb-4">
                                                        <label class="form-label">Type of Address</label>
                                                        <input name="type" type="text" placeholder="Home, Office.." class="form-control" required>
                                                    </div>  
                                                </div> <!-- col.// -->
                                            </div> <!-- row.// -->
                                            <hr class="mb-4 mt-0">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6>2. Details</h6>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="mb-4">
                                                        <label class="form-label">House no., Street</label>
                                                        <input name="street" id="Street" type="text" placeholder="Type here" class="form-control" required>
                                                        <p id="streetalert" class="text-danger "></p>
                                                    </div>
                                                    <div class="mb-4">
                                                        <label class="form-label">Locality</label>
                                                        <input name="locality" id="Locality" type="text" placeholder="Type here" class="form-control" required>
                                                        <p id="localityalert" class="text-danger "></p>
                                                    </div>
                                                    <div class="mb-4">
                                                        <label class="form-label">District</label>
                                                        <input name="district" id="District" type="text" placeholder="Type here" class="form-control" required>
                                                        <p id="districtalert" class="text-danger "></p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="mb-4 col-md-6">
                                                            <label class="form-label">State</label>
                                                            <select name="state" class="form-select">
                                                                {{#each state}}
                                                                <option> {{this.name}} </option>
                                                                {{/each}}                                            
                                                            </select>
                                                        </div>
                                                        <div class="mb-4 col-md-6">
                                                            <label class="form-label">Pin Code</label>
                                                            <input name="pinCode" id="Pincode" type="number" placeholder="Type here" class="form-control" required>
                                                            <p id="pincodealert" class="text-danger "></p>
                                                        </div>
                                                    </div>
                                                </div>                                    
                                            </div> 
                                            <hr class="mb-4 mt-0"> 
                                            <div class="row d-flex justify-content-center ">
                                            <button type="submit" class="btn btn-md rounded font-sm hover-up col-3 justify-content-center "><span>Submit</span></button>       
                                            </div>                     
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </address> 
            {{!-- add address form end --}}
                    <hr>

                    <!-- row // -->
                    <div class="row ">
                        <div class="col-lg-5">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead style="background-color: #e5aa3b;" class="text-white">
                                        <tr>
                                            <th width="40%">Price details</th>
                                            <th width="20%" class="text-end"></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>                                            
                                            <td>Price</td>
                                            <td class="text-end">{{total}}</td>
                                        </tr>
                                        <tr>                                            
                                            <td>Discount</td>
                                            <td class="text-end">{{discount}}</td>
                                        </tr>
                                        <tr>                                            
                                            <td class="text-black-50 " >Shipping fee</td>
                                            <td class="text-black-50  text-end">{{shipping}}</td>
                                        </tr>
                                        <tr>                                            
                                            <td class="fw-bolder fs-5">Total price</td>
                                            <td class="fw-bolder fs-5 text-end">{{calculateTotal total discount shipping}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table-responsive// -->
                            <div class="justify-content-center d-flex">
                            <button id="orderButton" class="btn btn-outline-dark w-50 justify-content-center "><span>Place Order</span></button>
                            </div>
                        </div>
                        <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6">
                            <div style="background-color: #e5aa3b;"  class="box shadow-sm mb-2  ">
                                <h4 class=" text-center text-white">Payment Method</h4>
                            </div>
                            <label for="razorpay" class="col-4 d-block w-100 ">
                                <input type="radio" id="razorpay" name="paymentmethod" value="" style="display: none;">
                                <div class="box shadow-sm bg-light mb-2 paymentcard">
                                    <h6 class="mb-15">Razor Pay</h6>
                                    <p>
                                        <img src="/assets/imgs/card-brands/2.png" class="border" height="20" /> Master Card **** **** 4768 <br />
                                        Business name: Grand Market LLC <br />
                                        Phone: +1 (800) 555-154-52
                                    </p>
                                </div>
                            </label>
                            <label for="COD" class="col-4 d-block w-100  ">
                                <input type="radio" id="COD" name="paymentmethod" value="" style="display: none;" checked>
                                <div class="box shadow-sm bg-light paymentcard">
                                    <h6 class="mb-15"><i class="fa-solid fa-money-bill-1-wave"></i> Cash On Delivery (COD)</h6>
                                    <p>
                                        We accept cash on delivery. But it is recommended to pay online.
                                    </p>
                                </div>
                            </label>
                            {{!-- <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <label>Notes</label>
                                    <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                </div>
                                <button class="btn btn-primary">Save note</button>
                            </div> --}}
                        </div>
                        <!-- col// -->
                    </div>
                </div>
                <!-- card-body end// -->
            </div>
            <!-- card end// -->
        </section>
        <!-- content-main end// -->
    
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js?v=1.1" type="text/javascript"></script>


    <script>
        // Attach event listeners to radio buttons
        document.querySelectorAll('input[name="selectedAddress"]').forEach((radioButton, index) => {
            radioButton.addEventListener('change', () => {
                // Update the selected property of the corresponding address
                addresses.forEach((address, i) => {
                    address.selected = i === index;
                });

                // Re-render the address list to reflect the changes
                // This depends on how you're rendering your template
            });
        });

        
    //toggling place order button
        const cod = document.getElementById('COD');
        cod.addEventListener('click', ()=>{
            //logic to change button innertext
            const orderButton = document.getElementById('orderButton');
            orderButton.innerText = 'Place Order';
        });

        const razorpay = document.getElementById('razorpay');
        razorpay.addEventListener('click', ()=>{
            
            const orderButton = document.getElementById('orderButton');
            orderButton.innerText = 'Proceed to payment';
        });

    //toggling address form
        const addAddress = document.getElementById('addAddress');
        addAddress.addEventListener('click', (event)=>{
            event.preventDefault();
            const addressForm = document.getElementById("addressForm");
            if (addressForm.hidden === true) {
                addressForm.hidden = false;
                addAddress.innerText = "Cancel";
            } else {
                addressForm.hidden = true;
                addAddress.innerText = "Add new address";
            }
        });

    //validation of address form

        const nameAlert = document.getElementById("fullnamealert");    
        const phoneAlert = document.getElementById("phonealert");
        const streetAlert = document.getElementById("streetalert");
        const localityAlert = document.getElementById("localityalert");
        const districtAlert = document.getElementById("districtalert");
        const pincodeAlert = document.getElementById("pincodealert");    

         
        function validate(){
            console.log("This is validate")
            const fullname = document.getElementById("Fullname").value;        
            const phone = document.getElementById("Phone").value;
            const street = document.getElementById("Street").value;
            const locality = document.getElementById("Locality").value;
            const district = document.getElementById("District").value;
            const pincode = document.getElementById("Pincode").value;

            nameAlert.innerText="";        
            phoneAlert.innerText="";
            streetAlert.innerText="";
            localityAlert.innerText="";
            districtAlert.innerText="";
            pincodeAlert.innerText="";

            if(fullname.trim() === ""){
                console.log("This is inside fillnamecheck")
                nameAlert.innerText = "Name can't be empty";
                nameAlert.scrollIntoView({behavior:"smooth", block:"center"})
                return false;        
            }else if(phone.trim() === ""){
                phoneAlert.innerText = "Phone can't be empty";
                phoneAlert.scrollIntoView({behavior:"smooth", block:"center"})
                return false;
            }else if(street.trim() === ""){
                streetAlert.innerText = "Street can't be empty";
                streetAlert.scrollIntoView({behavior:"smooth", block:"center"})
                return false;
            }else if(locality.trim() === ""){
                localityAlert.innerText = "Locality can't be empty";
                localityAlert.scrollIntoView({behavior:"smooth", block:"center"})
                return false;
            }else if(district.trim() === ""){
                districtAlert.innerText = "District can't be empty";
                districtAlert.scrollIntoView({behavior:"smooth", block:"center"})
                return false;
            }else if(pincode.trim() === ""){
                pincodeAlert.innerText = "Pincode can't be empty";
                pincodeAlert.scrollIntoView({behavior:"smooth", block:"center"})
                return false;
            }

            let nameRegex = /^[A-Z]/
            if(!fullname.match(nameRegex)){
                nameAlert.innerText = "First letter of the name should be capital."
                return false
            }        
            const phoneRegex = /^\d{10}$/
            if(!phone.match(phoneRegex)){
                phoneAlert.innerText = "Phone number is not valid."
                return false
            }       
            return true;
        }

    </script>

</body>

