<head>
    <style>
    /* Notification styles */
    .notification {
      display: none;
      position: fixed;
      top: 10px;
      right: 40%;
      background-color: #f51010;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    </style>
</head>


<body>
    <div class="screen-overlay"></div>        
    <main class="main-wrap">            
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Your Orders</h2>
                    <p>Recent Orders</p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white" />
                </div>
            </div>
            <div class="card mb-4">
                <header style="background-color: #d8f1e5;" class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control" />
                        </div>
                        {{!-- <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div> --}}
                    </div>
                </header>
                
            </div>
            {{#each order}}
            <div class="card">
                <div style="background-color: #d8f1e5;" class="card-header">
                    <div class="row">
                        <div class="col-4">
                            OrderId: <b>{{this.orderId}}</b> <br> Date: <b>{{this.createdAt}}</b>
                        </div>
                        <div class="col-4">
                            Total: <b>₹{{this.orderAmount}}</b> <br> Status: <b>{{this.status}}</b>
                        </div>
                        <div class="col-4 d-flex justify-content-between   align-items-center ">
                            Shipped to:   <b>{{this.address.fullname}}</b>
                        </div>
                    </div>
                </div>
                {{#each this.orderedItems}}
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2 ">
                            <img src="{{this.images.[0]}}" width="80" height="80" class="img-md" alt="Item" />
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-10">
                                <h5 class="card-title">{{this.product.name}}</h5>
                                </div>
                                <div class="col-2">
                                <h5 class="card-title">{{this.quantity}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                <p class="card-text">{{this.product.category}}</p>
                                </div>
                                <div class="col-4">
                                <p class="card-text">{{this.size}}</p>
                                </div>
                                <div class="col-4">
                                <p class="card-text">{{this.color}}</p>
                                </div>
                            </div>                        
                        </div>
                        <div class="col-lg-4">
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        {{!-- <div class="col-lg-2 d-flex d-column justify-content-center align-items-center">
                        <a class="btn btn-danger cancelButton">Cancel</a>
                        </div> --}}
                    </div>
                </div>
                {{/each}}
                <div class="row  mb-3 ">
                    <div class="col-lg-12 d-flex justify-content-center  ">
                        {{generateCancelButton this.status }}
                        {{#if this.returnPeriod}}
                            <a data-id="{{this._id}}" class="btn btn-secondary returnButton me-3 ">Return</a>
                        {{/if}}
                        <a href="/api/v1/users/orders/{{this._id}}" id="detailsButton" data-id="{{this._id}}" class="btn btn-success detailsButton">Details</a>
                    </div>                    
                </div>
            </div>
            {{/each}}
        </section>
        <div id="notification" class="notification"></div>
    

    <script>
        const showNotification = (message) => {
            const notification = document.querySelector(".notification");
            notification.classList.add("show");
            notification.textContent = message;
            setTimeout(() => {
                notification.classList.remove("show");
            }, 3000);
        };

        const cancelButton = document.querySelectorAll(".cancelButton");
        cancelButton.forEach((element) => {
            element.addEventListener("click", (event) => {
               const conform = confirm("Are you sure you want to cancel this order?"); 
               if(conform){
                    const parentElement = event.target.closest('.row');                    
                    const detailsButton = parentElement.querySelector('.detailsButton');                    
                    const orderId = detailsButton.dataset.id;          
                   console.log("this is the order id :", orderId)
                   fetch("/api/v1/users/orders", {
                       method: "PATCH",
                       headers: {
                           "content-type": "application/json"
                       },
                       body: JSON.stringify({
                           orderId
                       })
                   })
                   .then(response => response.json())
                   .then((data) => {
                       if (data.success) {
                           showNotification("Order cancelled");
                           location.reload();
                           return
                       }
                       console.log(data);
                       showNotification("Cancellation failed");
                   })
               }              
                
            })
        });
    
        const returnButton = document.querySelectorAll(".returnButton");
        returnButton.forEach((element) => {
            element.addEventListener("click", (event) => {
               const conform = confirm("Are you sure you want to return this order?");
               if(conform){
                   console.log("Entered fetch for retirn", event.target.dataset.id)
                   const orderId = event.target.dataset.id;
                   fetch("/api/v1/users/returnorders", {
                       method: "PATCH",
                       headers: {
                           "content-type": "application/json"
                       },
                       body: JSON.stringify({
                           orderId
                       })
                   })
                   .then(response => response.json())
                   .then((data) => {
                       console.log("this is response after return",data);
                       if (data.success) {
                           event.target.remove();
                           showNotification("Return request initiated");
                           return
                       }                       
                       showNotification("Return request failed");
                   })
               }
            })
        })
    </script>
</body>

