<head>
    <style>
    /* Notification styles */
    .notification {
      display: none;
      position: fixed;
      top: 10px;
      right: 40%;
      background-color: #4CAF50;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    </style>
</head>

<body>
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>New product</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".Womens">Women’s</li>
                        <li data-filter=".Mens">Men’s</li>
                        <li data-filter=".Kids">Kid’s</li>
                    </ul>
                </div>
            </div>
            <div class="row property__gallery">
                {{#each products}}
                {{#if this.name}}
                <div class="col-lg-3 col-md-4 col-sm-6 mix {{this.name.category.category}} prodDetailsDiv" data-prodid="{{this._id}}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{this.images.[0]}}">
                        {{!-- label above the image --}}
                            {{!-- <div class="label new">New</div> --}}
                            {{!-- <div class="label">Sale</div> --}}
                            {{!-- <div class="label stockout">out of stock</div> --}}
                            <ul class="product__hover">                                
                                <li><a href="{{this.images.[0]}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li id="wishlist" ><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li id="addToCart" class="addToCart" data-id="{{this._id}}"><a href="#"><span class="icon_bag_alt"></span></a></li>
                                {{!-- <li><a href="productdetails/{{this._id}}" class="" ><span class="icon_details" ></span></a></li> --}}
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">{{this.name.name}}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">{{this.price}}</div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div id="notification" class="notification"></div>
    </section>
    <!-- Product Section End -->
</body>

<script>
    const addToCart = document.querySelectorAll(".addToCart");    
    const wishlist = document.getElementById("wishlist");

    function showNotification(message) {
        const notificationElement = document.getElementById('notification');
        notificationElement.textContent = message;
        notificationElement.style.display = 'block';

        // Hide the notification after 5 seconds
        setTimeout(() => {
        notificationElement.style.display = 'none';
        }, 2000);
    }

    addToCart.forEach((element)=>{

        element.addEventListener("click",function addCart(event){
            event.preventDefault();
            event.stopPropagation();
            console.log(element);
            const productId = element.getAttribute("data-id");
            console.log(productId);
            fetch("/api/v1/users/cart",{
                method : "POST",
                headers : {
                    "content-type" : "application/json"
                },
                body : JSON.stringify({
                    productId
                })
            }).then( (res)=> {
                if(!res.ok){
                console.log("Something went wrong while fetching");
                showNotification("Item already in Cart")
                return
                }
                console.log("fetch successfull")
                showNotification("Item added to Cart");
            })
        });
    });


    //redirecting to prodetails page

    const prodDetailDiv = document.querySelectorAll(".prodDetailsDiv");

    console.log(prodDetailDiv)

    prodDetailDiv.forEach((element)=>{

        element.addEventListener("click", function renderProdDetails(event){
            event.preventDefault();
            console.log(element);
            const prodId = element.getAttribute("data-prodid");

            window.location.href =`/api/v1/users/productdetails/${prodId}`;

            /* fetch("api/v1/users/productdetails",{
                method : "POST",


            })*/
            
        })
    })

</script>