<head>
    <style>
    /* Notification styles */
    .notification {
      display: none;
      position: fixed;
      top: 10px;
      right: 40%;
      background-color: #4CAF50;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    /*button style*/
    .button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.5em 1.7em;
    cursor: pointer;
    font-size: 12px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    }

    .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    }

    .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
    }

    .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #e5aa3b;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
    }

    .button2:hover {
    color: #ffffff;
    border: 1px solid #e5aa3b;
    }

    .button2:hover:before {
    top: -35%;
    background-color: #e5aa3b;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }

    .button2:hover:after {
    top: -45%;
    background-color: #e5aa3b;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
    </style>
</head>

<body>
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>New product</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">

                    <ul class="filter__controls">
                        <li><button class="button2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Filter</button></li>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".Womens">Women’s</li>
                        <li data-filter=".Mens">Men’s</li>
                        <li data-filter=".Kids">Kid’s</li>
                    </ul>
                </div>
            </div>
            <div class="row property__gallery">
                {{#if message}}
                <h4 class="alert alert-danger text-center ">{{message}}</h4>
                {{/if}}
                {{#each products}}
                {{#if this.name}}
                <div class="col-lg-3 col-md-4 col-sm-6 mix {{this.name.category.category}} prodDetailsDiv" data-prodid="{{this._id}}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{this.images.[0]}}">
                        {{!-- label above the image --}}
                            {{!-- <div class="label new">New</div> --}}
                            {{#if this.offerApplied}}                        
                                <div class="label sale">Sale</div>
                            {{/if}}
                            {{#if this.isOutofStock}}
                            <div class="label stockout">out of stock</div>
                            {{else}}
                            <ul class="product__hover">                                
                                <li><a onclick="event.stopPropagation();" href="{{this.images.[0]}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                {{#if this.isWishlisted}}
                                <li id="wishlist" class="wishlist" data-id="{{this._id}}" ><a href="#" style="background-color: red; color:white"><span class="icon_heart_alt"></span></a></li>
                                {{else}}
                                 <li id="wishlist" class="wishlist" data-id="{{this._id}}" ><a href="#" ><span class="icon_heart_alt"></span></a></li>
                                {{/if}}
                                <li id="addToCart" class="addToCart" data-id="{{this._id}}"><a href="#"><span class="icon_bag_alt"></span></a></li>
                                {{!-- <li><a href="productdetails/{{this._id}}" class="" ><span class="icon_details" ></span></a></li> --}}
                            </ul>
                            {{/if}}
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">{{this.name.name}}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            {{#if this.offerApplied}}
                            <div class="product__price">{{this.price}}<span>Rs {{this.originalprice}}</span></div>
                            {{else}}
                            <div class="product__price">{{this.price}}</div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Apply Filters</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                {{!-- <div>
                Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                </div> --}}
                <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle w-100 " type="button" data-bs-toggle="dropdown">
                        Prize Range
                    </button>
                    <ul class="dropdown-menu w-100 ">
                        <li><a class="dropdown-item" href="/api/v1/products/list/all">All</a></li>
                        <li><a class="dropdown-item" data-min="100" data-max="600" href="/api/v1/users/filter/price/100/600">100 to 600</a></li>
                        <li><a class="dropdown-item" data-min="600" data-max="1200" href="/api/v1/users/filter/price/600/1200">600 to 1200</a></li>
                        <li><a class="dropdown-item" data-min="1200" data-max="2500" href="/api/v1/users/filter/price/1200/2500">1200 to 2500</a></li>
                        <li><a class="dropdown-item" data-min="1200" data-max="10000" href="/api/v1/users/filter/price/2500/10000">2500 and above</a></li>
                    </ul>
                </div>
                <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle w-100 " type="button" data-bs-toggle="dropdown">
                        Colors
                    </button>
                    <ul id="colorDropdown" class="dropdown-menu w-100 ">
                        <li><a class="dropdown-item" href="/api/v1/products/list/all">All</a></li>
                        {{#each colors}}
                        <li><a class="dropdown-item" data-color="{{this}}" href="/api/v1/users/filter/color/{{this.color}}">{{this.color}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>        
        <div id="notification" class="notification"></div>
    </section>
    <!-- Product Section End -->
</body>

<script>
    const addToCart = document.querySelectorAll(".addToCart");    
    const wishlist = document.getElementById("wishlist");

    function showNotification(message) {
        const notificationElement = document.getElementById('notification');
        notificationElement.textContent = message;
        notificationElement.style.display = 'block';

        // Hide the notification after 5 seconds
        setTimeout(() => {
        notificationElement.style.display = 'none';
        }, 2000);
    }

    addToCart.forEach((element)=>{
        element.addEventListener("click",function addCart(event){
            event.preventDefault();
            event.stopPropagation();
            console.log(element);
            const productId = element.getAttribute("data-id");
            console.log(productId);
            fetch("/api/v1/users/cart",{
                method : "POST",
                headers : {
                    "content-type" : "application/json"
                },
                body : JSON.stringify({
                    productId
                })
            }).then( (res)=> {
                if(!res.ok){
                showNotification("Item already in Cart")
                return
                }
                return res.json()
            }).then((data)=> {        
                const cartTip = document.getElementById('cart-tip');
                cartTip.innerHTML = data.data.cartCount;                
                showNotification("Item added to Cart");
            })
        });
    });


    //redirecting to prodetails page
    const prodDetailDiv = document.querySelectorAll(".prodDetailsDiv");
    prodDetailDiv.forEach((element)=>{
        element.addEventListener("click", function renderProdDetails(event){
            event.preventDefault();
            console.log(element);
            const prodId = element.getAttribute("data-prodid");
            window.location.href =`/api/v1/products/productdetails/${prodId}`;
        })
    });

    //wishlist
    const wishlistButton = document.querySelectorAll(".wishlist");
    wishlistButton.forEach((element)=>{
        element.addEventListener("click", function addWishlist(event){
            event.preventDefault();
            event.stopPropagation();
            
            const productId = element.getAttribute("data-id");
            fetch("/api/v1/users/wishlist",{
                method : "POST",
                headers : {
                    "content-type" : "application/json"
                },
                body : JSON.stringify({
                    productId
                })
            }).then( res=> res.json())
            .then((data)=>{
                if(data.success){
                    if(event.target.tagName == 'A'){
                        event.target.style.backgroundColor = "red";
                        event.target.style.color = "white";                        
                    }else if(event.target.tagName == 'SPAN'){
                        event.target.parentElement.style.backgroundColor = "red";
                        event.target.parentElement.style.color = "white";                        
                    }
                    const wishlistTip = document.getElementById('wishlist-tip');
                    wishlistTip.innerHTML = data.data.wishlistCount;
                    showNotification("Item added to Wishlist");
                    return
                }
                showNotification("Item already in wishlist")
            })
        })
    })

    //Filtering
    /*const colorDropdownMenu = document.getElementById('colorDropdown');
    colorDropdownMenu.addEventListener('click', (event) => {
        console.log("entered dropdown", event.target);
    if (event.target.tagName === 'LI' || event.target.tagName === 'A') {

        const min = event.target.getAttribute('data-min');
        const max = event.target.getAttribute('data-max');
        const color = event.target.getAttribute('data-color');
        
        if(color){
            console.log(`Color: ${color}`);
            /*fetch(`/api/v1/products/filter/color`,{
                method : "POST",
                headers : {
                    "content-type" : "application/json"
                },
                body : JSON.stringify({
                    color
                })
            })
            .then( res=> res.json())
            .then((data)=>{
                
            })
            fetch(`/api/v1/users/filter/color/${color}`)
        }
        console.log(`Min: ${min}, Max: ${max}`);
        
        // You can perform further actions based on the min and max values
    }
});*/

</script>