<head>
    <style>
    /* Notification styles */
    .notification {
      display: none;
      position: fixed;
      top: 10px;
      right: 40%;
      background-color: #4CAF50;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    /*.property__gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

   
    .wishlist-item {
        flex: 1;
    }*/
    </style>
</head>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div style="background-color: #e5aa3b;" class="section-title p-2 ">
                    <h4>Wishlist</h4>
                </div>
            </div>                
        </div>
        <div class="row property__gallery">
            {{#each wishlist}}
                <div class="col-lg-3 col-md-6 col-sm-12 text-center mb-4 wishlist-item ">
                    <div class="card" style="width: 18rem; height: 32rem">
                        <img style="width: 17rem; height: 20rem" src="{{this.productsId.images.[0]}}" class="card-img-top p-1 m-auto  " alt="...">
                       
                        <div class="card-body d-flex flex-column align-items-center justify-content-between">
                            <h5 class="card-title">{{this.productsId.product_id.name}}</h5>
                            <p class="card-text">{{this.productsId.price}}</p>
                            <div class="row">
                                <div class="col-12">
                                    <a href="#" data-id="{{this.productsId._id}}" class="btn btn-success btn-sm  addToCart ">Add to cart</a>
                                    <a href="#" data-id="{{this.productsId._id}}" class="btn btn-danger removeWishlist btn-sm">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            {{#if message}}
                <h4 class="text-center text-danger ">{{message}}</h4>
            {{/if}}
        </div>
    </div>
    <div id="notification" class="notification"></div>
</section>

<script>
    function showNotification(message) {
        const notificationElement = document.getElementById('notification');
        notificationElement.textContent = message;
        notificationElement.style.display = 'block';

        // Hide the notification after 5 seconds
        setTimeout(() => {
        notificationElement.style.display = 'none';
        }, 2000);
    }


    const addToCart = document.querySelectorAll(".addToCart");
    addToCart.forEach((element)=>{
    element.addEventListener("click",function addCart(event){
            event.preventDefault();
            event.stopPropagation();
            console.log(element);
            const productId = element.getAttribute("data-id");
            console.log(productId);
            fetch("/api/v1/users/cart",{
                method : "POST",
                headers : {
                    "content-type" : "application/json"
                },
                body : JSON.stringify({
                    productId
                })
            }).then( (res)=> {
                if(!res.ok){
                console.log("Something went wrong while fetching",res);
                showNotification("Item already in Cart")
                return
                }
                console.log("fetch successfull",res)
                element.parentElement.parentElement.parentElement.parentElement.remove();
                showNotification("Item added to Cart");
            })
        });
    });

    const removeWishlist = document.querySelectorAll(".removeWishlist");
    removeWishlist.forEach((element)=>{
        element.addEventListener("click",function removeWishlist(event){
            event.preventDefault();
            event.stopPropagation();
            const productId = element.getAttribute("data-id");
            fetch("/api/v1/users/wishlist",{
                method : "DELETE",
                headers : {
                    "content-type" : "application/json"
                },
                body : JSON.stringify({
                    productId
                })
            }).then( (res)=> {
                if(!res.ok){
                console.log("Something went wrong while fetching",res);
                showNotification("Couldn't remove item from wishlist")
                return
                }
                console.log("fetch successfull",res)
                showNotification("Item removed from wishlist");
                console.log("fetch successfull",element);
                element.parentElement.parentElement.parentElement.parentElement.remove();
            })
        })
    })
</script>