<head>
    <style>
    /* Notification styles */
    .notification {
      display: none;
      position: fixed;
      top: 10px;
      right: 40%;
      background-color: #4CAF50;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    </style>
</head>

<section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>Wishlist</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".Womens">Women’s</li>
                        <li data-filter=".Mens">Men’s</li>
                        <li data-filter=".Kids">Kid’s</li>
                    </ul>
                </div>
            </div>
            <div class="row property__gallery">
                {{#if wishlist}}
                {{#each wishlist}}
                {{!-- {{#if this.name}} --}}
                <div class="col-lg-3 col-md-4 col-sm-6 mix {{this.productsId.product_id.category.category}} prodDetailsDiv" data-prodid="{{this._id}}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{this.productsId.images.[0]}}">
                                                  
                            {{#if this.isOutofStock}}
                                <div class="label stockout">out of stock</div>
                                <ul class="product__hover">
                                    <li><a data-id="{{this.productsId._id}}" class="removeWishlist" href="#"><span class="icon_close_alt "></span></a></li>
                                </ul>
                            {{else}}
                                <ul class="product__hover ">   
                                    <li id="addToCart" class="addToCart" data-id="{{this.productsId._id}}"><a href="#"><span class="icon_bag_alt"></span></a></li>
                                    <li><a data-id="{{this.productsId._id}}" class="removeWishlist" href="#"><span class="icon_close_alt "></span></a></li>
                                </ul>
                            {{/if}}
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">{{this.productsId.product_id.name}}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">{{this.price}}</div>
                        </div>
                    </div>
                </div>
                {{!-- {{/if}} --}}
                {{/each}}
                {{else}}
                <h4 class="text-center text-danger ">Your wishlist is empty. Fill your bag.!!</h4>
                {{/if}}
            </div>
        </div>
        <div id="notification" class="notification"></div>
    </section>

<script>
    function showNotification(message) {
        const notificationElement = document.getElementById('notification');
        notificationElement.textContent = message;
        notificationElement.style.display = 'block';

        // Hide the notification after 5 seconds
        setTimeout(() => {
        notificationElement.style.display = 'none';
        }, 2000);
    }

    const addToCart = document.querySelectorAll(".addToCart");
    addToCart.forEach((element)=>{
    element.addEventListener("click",function addCart(event){
            event.preventDefault();
            event.stopPropagation();
            console.log(element);
            const productId = element.getAttribute("data-id");
            console.log(productId);
            fetch("/api/v1/users/cart",{
                method : "POST",
                headers : {
                    "content-type" : "application/json"
                },
                body : JSON.stringify({
                    productId
                })
            }).then((res)=> {
                if(!res.ok){
                console.log("Something went wrong while fetching",res);
                showNotification("Item already in Cart")
                return
                }
            return res.json()
            }).then((data)=> {                    
                console.log("fetch successfull",data)
                //element.parentElement.parentElement.parentElement.parentElement.remove();
                const cartTip = document.getElementById('cart-tip');
                console.log("cartTip",cartTip);
                cartTip.innerHTML = data.data.cartCount;    
                showNotification("Item added to Cart");
            })
        });
    });

    const removeWishlist = document.querySelectorAll(".removeWishlist");
    removeWishlist.forEach((element)=>{
        element.addEventListener("click",function removeWishlist(event){
            event.preventDefault();
            event.stopPropagation();
            const productId = element.getAttribute("data-id");
            fetch("/api/v1/users/wishlist",{
                method : "DELETE",
                headers : {
                    "content-type" : "application/json"
                },
                body : JSON.stringify({
                    productId
                })
            }).then( (res)=> {
                if(!res.ok){
                console.log("Something went wrong while fetching",res);
                showNotification("Couldn't remove item from wishlist")
                return
                }
                console.log("fetch successfull",res)
                showNotification("Item removed from wishlist");
                console.log("fetch successfull",element);
                //element.parentElement.parentElement.parentElement.parentElement.remove();
                location.href = "/api/v1/users/wishlist";
            })
        })
    })
</script>